body {
	background-color: white;
}

#cont {
	font: 100px impact;
	padding: 10px;
}


#CaptainsCoaches {
	
	
	
}
.capNcoach {
	font: 50px impact;
}
.row {
	font: 20px georgia, sans-serif;
	padding: 15px;
}

